* {
    margin: 0px;
    padding: 0px; 
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* navbar desgin */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    cursor: pointer;
}
span {
    color: #E55473;
}
.menulist {
    list-style: none;
    display: flex;
}
.menulist li {
    margin-right: 30px;
}
.menulist li:hover {
    color: #E55473;
    text-decoration: underline;
}
/* banner section style */
.banner-container {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 220px;
}
.logo-size {
    width: 635px;
    height: 800px;
    margin-top: 80px;
}
.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 900;
}
.banner-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0;
}
.btn-primary {
    background-color: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    padding: 20px 43px;
    border: 0;
}
.btn-primary:hover {
    background-color: black;
}
/* feature flower section style */

.flowers-container {
    text-align: center;
    background: #FFF;
    margin-top: 100px;
    
}
.des {
margin-top: 24px;
}
.fsize {
    width: 310px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
    border-radius: 50% 50% 0 0;
    
}
.fimage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 48px;
}
.lsize {
    padding: 117px 47px 51px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 50% 50% 0 0;
}
.fcolor {
    padding: 67px 75px 0;
    border-radius: 50% 50% 0 0;
    background-color: rgba(71, 125, 17, 0.15);
}
.flower-title {
    text-decoration: underline;
    padding-top: 32px;
}
.support-container {
    margin: 100px 235px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  85px 120px;
}

/* hot deal section style */

.ht-img {
    width: 318px;
    height: 420px;
}
.hot-deal-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
.hot-deal-info {
    text-align: center;
}
/* instagram section design */
.instagram {
    text-align: center;
    background: #FFF;
    margin-top: 100px;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.bg-img {
    background-image: url('./Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center; 
    padding: 130px;
    margin: 100px 0;
}
.bg-img input {
    padding: 15px 180px 15px 30px;
    border: none;
}
.btn {
    font-size: 15px;
    padding: 14px 30px;
}
::placeholder {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
}
/* customer review section */
.review-container {
    text-align: center;
    background: #f1f1f1;
    padding-top: 80px

}
.reviews {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:24px;
    padding: 70px 240px;
    box-shadow: 4px 4px 4px rgba(0,0,0,.1);
}
.review {
    background: #fff;
    padding:  40px 40px 80px 30px;
}
.isize {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* footer section style */
.footer-container {
    text-align: center;
    padding: 128px 500px;
    background: rgb(46, 45, 45);
    color: white;
}
.description {
    margin: 24px 0;
}
.support-title {
    font-size: 18px;
}

