* {
    margin: 0px;
    padding: 0px; 
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* navbar desgin */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    cursor: pointer;
    position: sticky;
}
span {
    color: #E55473;
}
.menulist {
    list-style: none;
    display: flex;
}
.menulist li {
    margin-right: 30px;
}
.menulist li:hover {
    color: #E55473;
}
